$primary-color: #2dc3e8;
$navbar-text-color: #999;

$sidebar-background: #2c3a49;
$sidebar-icon-color: #fff;
$sidebar-active-background: #1c2630;
$sidebar-border-color: #ddd;

$side-panel-background: #1c2630;
$side-panel-color: #fff;