<div class="navbar" ng-controller="NavbarCtrl">
  <div class="navbar-inner">
    <div class="navbar-container">
    <div class="navbar-header pull-left">
      <a href="/" class="navbar-brand">
        <!-- <img src="assets/images/logo.png" alt="logo"> -->
        <small></small>
      </a>
    </div>
    <div class="navbar-header pull-right">
      <div class="navbar-account">
        <ul class="account-area">
          <li>
            <a class=" dropdown-toggle" data-toggle="dropdown" title="Notifications" href="#">
              <i class="icon fa fa-warning"></i>
            </a>
          </li>
          <li>
            <a class=" dropdown-toggle" data-toggle="dropdown" title="Messages" href="#">
              <i class="icon fa fa-envelope"></i>
            </a>
          </li>
          <li>
            <a class=" dropdown-toggle" data-toggle="dropdown" title="Tasks" href="#">
              <i class="icon fa fa-tasks"></i>
            </a>
          </li>
          <li>
              <a class="wave in" id="chat-link" title="Chat" href="#">
                  <i class="icon fa fa-comment"></i>
              </a>
          </li>
        </ul>
      </div>
    </div>
    </div>
  </div>
</div>
