
	<div class="side-panel">
		<div class="side-panel-controls">
			<button class="btn"><i class="fa fa-plus fa-lg"></i> New Patient</button>
		</div>
		<div class="patients-search">
			<form name="patientsSearchForm">
				<input name="searchInput" ng-model="selectedResult" class="form-control search" type="text" placeholder="Search patient name, phone number ...">
				<span class="icon-container">
					<i ng-hide="fetchingResults || searchForm.searchInput.$viewValue" class="spyglass ng-hide fa fa-search fa-lg" style=""></i>
					<i ng-hide="fetchingResults || !searchForm.searchInput.$viewValue" ng-click="clearSearch()" class="remove fa fa-cross" style=""></i>
					<i ng-show="fetchingResults" class="spin glyphicon glyphicon-refresh ng-hide" style=""></i>
				</span>	
			</form>
		</div>
		<ul class="search-results">
			<li class="patient-card" ng-repeat="patient in patients" ui-sref-active="active">
				<a class="patient-fullname" ui-sref="patientProfile({id: patient._id})">{{patient.fullName}}</a>
			</li>
		</ul>
		
	</div>
	
